extends layout

block content
	.row(style='height:100%; background-color: rgba(0, 0, 0, 0.6); ')
		.col-lg-6(style='height:100%;')
			br
			br
			br
			.row
				.col-1
				.col-10
					a(href='http://localhost:3000')
						i.fas.fa-book(style='font-size:40pt;')
					br
					br
					br
					br
					br
					br
					br
					br
					br
					h1(style='font-size:40pt;') PRE-GUIDE
					br
					p(style='font-size:15pt;') Personalized Recommendation Engine: Guided by Behaviour
					p(style='font-size:15pt;') Get personalized recommendation for books based on your recent tweeting behaviour.
					br
					form(method='POST', action='/recommend')
						.form-row
							.col-5
								input.form-control(name='username' type='text' placeholder='Enter twitter username')
								small.form-text.text-muted
							.col-3
								input.form-control.btn.btn-primary(type='submit' value='Recommend!')
				.col-1
			br
		if username
			.col-lg-6(style='background-color: #0c0c0c; overflow:scroll;')
				br
				br
				br
				.row
					.col-1
					.col-10
						.row
							h2 HERE'S WHAT WE FOUND FOR @#{username}
							br
							p Based on <a href='http://www.twitter.com/'+username target="_blank">@#{username}</a>'s last 100 tweets, we think that they have an interest in the topic '<b>SPACE</b>'. Here are some top book picks that they might like!
							br
						.row
							for book in books
								.col-lg-6
									.row
										.col(style='padding: 0px 5px')
											a(href='https://www.goodreads.com/book/show/'+book['goodreads_book_id']['34'] target='_blank')
												.cont
													img.img-fluid.image(src=book['image_url']['34'])
													.overlay
														.text CLICK
									br
									.row
										.col
											h5
												a(href='https://www.goodreads.com/book/show/'+book['goodreads_book_id']['34'] target='_blank')=book['title']['34']
												small= '  ' + book['average_rating']['34']
											p
												i='By ' + book['authors']['34']
									br
						.row
							table#example.table.table-hover.table-light.table-striped(style='color: #000;')
								thead.thead-dark
									tr
										th Tweets by <a href="http://www.twitter.com/"+username target="_blank">@#{username}</a>
								tbody
									each tweet, i in tweets
										tr
											td= tweet
					.col-1
				br